<nav class="navbar navbar-default container">
    <div class="row">
        <div class="col-md-4">
            <div class="navbar-header">
                <div class="row">
                <img  src="assets\Temenoslogo.png" class="logo-position" alt="logo" height="55" width="210">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-tags"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-book"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="upload-container">
    <div class="upload-header text-color">
        <h3>Template Programming</h3>
    </div>  
        <!-- <form id="singleUploadForm" name="singleUploadForm" class="single-upload">
            <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
            <button type="submit" class="primary submit-btn">Submit</button>
        </form>  -->
        
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
            <div>
                <input type="file" name="profile" (change)="onFileSelect($event)" />
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
        
</div>



<!-- <div *ngIf="isMainPage">
    
</div>
    
<div *ngIf="isInputForm"><app-input-form></app-input-form></div>
<div  *ngIf="isMainPage">
    <div class=" container">
    <button class= "inputForm button primary" (click)="triggerInputForm($event)">
            Template Creation
        </button>
    </div>
</div>  -->
 