 <ul class="nav nav-pills container">
       <li class="status-active"><a href="#"><span class = "text-color">COMPONENT</span></a></li>
       <li><a href="#"><span class = "text-color">TABLE</span></a></li>
       <li><a href="#"><span class = "text-color">FIELDS</span></a></li>
       <li><a href="#"><span class = "text-color">HELP-TEXT</span></a></li>
 </ul>
 
 <div class="container form-position">
       <form autocomplete="off">
          <div class="colset">
             <div class="left">Application Name</div>
             <div class="right">
                <input class="control-input" type="text" id="applicationName"/>
             </div>
          </div>
          <div class="colset">
             <div class="left">Module Name</div>
             <div class="right">
                <input class="control-input" type="text" id="moduleName"/>
             </div>
          </div>
          <div class="colset">
                <div class="left">Component Name</div>
                <div class="right">
                   <input class="control-input" type="text" id="componentName"/>
                </div>
          </div>
           <div class="colset">
                <div class="left">Reserved Field Required</div>
                <div class="right">
                   <div> 
                      <a href="/" class="radio checked" >Yes</a>
                      <a href="/" class="radio" >No</a>
                   </div>
                </div>
          </div>  
          <div class="colset">
                <div class="left">Number of Reserved</div>
                <div class="right">
                   <input class="control-input" type="text" id="numberOfReserved"/>
                </div>
          </div>
          <div class="colset">
                <div class="left">Audit Field Required</div>
                <div class="right">
                   <div> 
                      <a href="/" class="radio checked" >Yes</a>
                      <a href="/" class="radio" >No</a>
                   </div>
                </div>
          </div>   
          <div class="colset">
                <div class="left">Local Field Required</div>
                <div class="right">
                   <div> 
                      <a href="/" class="radio checked" >Yes</a>
                      <a href="/" class="radio" >No</a>
                   </div>
                </div>
          </div>
          <div class="colset">
                <div class="left">Override Field Required</div>
                <div class="right">
                   <div> 
                      <a href="/" class="radio checked" >Yes</a>
                      <a href="/" class="radio" >No</a>
                   </div>
                </div>
          </div> 
          <div class="colset">
                <div class="left">Location</div>
                <div class="right">
                   <input class="control-input" type="text" id="location"/>
                </div>
          </div> 
          <div class="colset">
             <div class ="right nopadding">
                <div class="submit">
                   <button class="button nextButton primary" type="submit" id="component">Next</button>
                </div>
             </div>
          </div>
          <div class="row">
                <div class ="right"></div>
          </div>
       </form>
 </div>
 